@tailwind base;
@tailwind components;
@tailwind utilities;


/* ✅ Hide horizontal scrollbar completely */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


